# NFC Links Service Configuration

# Port
PORT=3000

# Main API URL
API_BASE_URL=https://api.biz365.ai

# Environment
NODE_ENV=production

# JWT Configuration
JWT_SECRET=315d9888830a05e474b5fc657b0c96cb5b7e8130f84dbf5c4ab550a938ac1e8af7be0f301f82a07ac720420875b7b979e8e0d62

# SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=dev@biz365.ai
SMTP_PASSWORD=pyzituzkmowryxls
SMTP_ENCRYPTION=tls
SMTP_FROM=noreply@biz365.ai
MAIL_FROM_EMAIL=noreply@biz365.ai
MAIL_FROM_NAME=Biz365
WELCOME_EMAIL_ENABLED=true
WELCOME_EMAIL_DELAY=0
